{# templates/ingredient/edit.html.twig #}

<h1>Modifier l'Ingrédient : {{ ingredient.label }}</h1>

{{ form_start(form) }}
    {{ form_row(form.label) }}
    {{ form_row(form.unit) }}
    <button class="btn">Modifier l'ingrédient</button>
{{ form_end(form) }}

<a href="{{ path('ingredient_index') }}">Retour à la liste des ingrédients</a>
