{# templates/ingredient/list.html.twig #}

<h1>Liste des Ingrédients</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Unité</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient in ingredients %}
        <tr>
            <td>{{ ingredient.id }}</td>
            <td>{{ ingredient.label }}</td>
            <td>{{ ingredient.unit }}</td>
            <td>
                <a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">Modifier</a>
                <a href="{{ path('ingredient_delete', {'id': ingredient.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('ingredient_new') }}">Ajouter un nouvel ingrédient</a>