{# templates/recipe/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create a new Recipe{% endblock %}

{% block body %}
    <h1>Create a new Recipe</h1>

    {{ form_start(form) }}
        {{ form_row(form.label) }}
        {{ form_row(form.description) }}
        {{ form_row(form.duration) }}
        {{ form_row(form.personCount) }}
        {{ form_row(form.photo) }}

        {# Affichage des ingrédients avec leurs quantités #}
        <div id="recipe_ingredients1">
            {{ form_row(form.recipeIngredients) }}
        </div>

        {# Bouton pour ajouter un ingrédient #}
        <button type="button" id="add_ingredient">Ajouter un ingrédient</button>

        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    {# JavaScript pour ajouter des ingrédients dynamiquement #}
    <script>
        var addButton = document.getElementById('add_ingredient');
        var container = document.getElementById('recipe_recipeIngredients');
        console.log(container);
        var prototype = document.getElementById('recipe_recipeIngredients').dataset.prototype;
        console.log(prototype);

         // Ajouter un bouton "Supprimer" pour chaque nouvel ingrédient
        function addRemoveButton(ingredientDiv) {
            var removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.textContent = 'Supprimer';
            removeButton.className = 'remove-ingredient';
            ingredientDiv.appendChild(removeButton);

            removeButton.addEventListener('click', function () {
                ingredientDiv.remove(); // Supprime le div contenant l'ingrédient
            });
        }

        addButton.addEventListener('click', function() {
            var newIngredientForm = prototype.replace(/__name__/g, container.children.length);
            var div = document.createElement('div');
            div.innerHTML = newIngredientForm;
            addRemoveButton(div);
            container.appendChild(div);
        });

       
    </script>
{% endblock %}
